body {
	background: white;
	background-color: #F9D371;
} 

img {
	max-width: 500px;
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

p {
	
	font-size: 14px;
	color: #F47340;
	font-family: 'Calibri';
}
h1 {
	color: #EF2F88;
	margin-top: -20px;
	font-size: 30px;
	font-family: 'Calibri';
}

div {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	width: 70%;
	margin: auto;
	padding: 50px;
	background-color: white;
}
a {
	font-family: 'Calibri';
	text-decoration: none;
	color: darkgray;
}